#index_page {
  padding-top: 120px;
  .hallmark_credibilty {
    background-color: var(--color-bg);
    .hallmark_credibilty_inside {
      display: flex;
      align-items: center;
      @include mv-media(max, 991px) {
        flex-wrap: wrap;
      }
      .hallmark_title {
        width: 45%;
        @include mv-media(max, 991px) {
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .hallmark_credibilty_right {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 1px solid rgba(192, 162, 128, 0.5);
        padding-left: 30px;
        @include mv-media(max, 991px) {
          margin: 0 auto;
          border-left: none;
          padding-left: 0px;
          width: 80%;
        }
        @include mv-media(max, 767px) {
          flex-wrap: wrap;
          width: 100%;
        }
        .hallmark_slider {
          width: 55%;
          margin: 0;
          @include mv-media(max, 767px) {
            width: 100%;
          }
          .hallmark_item {
            img {
              margin: 0 auto;
            }
          }

          .slick-dots {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            bottom: 0px;
            li {
              margin: 5px 5px;
              display: block;
            }
          }
          .slick-list {
            padding-bottom: 0px;
          }
        }
        .hallmark_btn {
          width: 40%;
          text-align: right;
          @include mv-media(max, 767px) {
            width: 100%;
            margin-top: 30px;
            text-align: center;
          }
          .btn_project_default {
            border: none;
            border-bottom: 1px solid #413e3e;
            border-radius: 0px;
            padding: 0;
            &:hover {
              background-color: transparent;
              color: var(--color_primary);
            }
          }
        }
      }
    }
  }

  .journey_main {
  }
  .values_shape_main {
    .values_shape_flex {
      justify-content: space-between;
      @include mv-media(max, 991px) {
        flex-wrap: wrap;
      }
      .values_shape_box {
        position: relative;
        width: 31%;
        padding: 25px 30px;
        margin-top: 40px;
        border: 1px solid rgba(192, 162, 128, 0.5);
        transition: 0.5s ease-in-out;
        @include mv-media(max, 1199px) {
          padding: 15px 15px;
        }
        @include mv-media(max, 991px) {
          width: 48%;
        }
        @include mv-media(max, 767px) {
          width: 100%;
        }
        &:hover {
          background-color: #efe5df;
          border: 1px solid #efe5df;
          box-shadow: 0 15px 18px -3px rgba(212, 190, 168, 0.36);
          transition: 0.5s ease-in-out;
          background: linear-gradient(
            215deg,
            rgba(239, 229, 223, 1) 75%,
            rgba(212, 190, 168, 1) 93%
          );
          .value_hover_img {
            opacity: 1;
            transition: 0.5s ease-in-out;
          }
          .value_shape_img {
            background-color: var(--white-color);
            transition: 0.5s ease-in-out;
            img {
              filter: invert(1);
              transition: 0.5s ease-in-out;
            }
          }
        }
        .value_shape_img {
          position: relative;
          background-color: var(--secondary-color);
          width: 105px;
          height: 120px;
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s ease-in-out;
          img {
            transition: 0.5s ease-in-out;
          }
        }
        .value_hover_img {
          position: absolute;
          top: 25px;
          left: 15px;
          opacity: 0;
          transition: 0.5s ease-in-out;
        }
        .value_shape_desc {
          border-top: 1px solid rgba(198, 161, 123, 0.6);
        }
      }
    }
  }
  .nature_main {
    .nature_img {
      position: relative;
      .postion_vector {
        position: absolute;
      }
      .vactor_one {
        top: 50%;
        left: -38px;
        transform: translateY(-50%);
        @include mv-media(max, 1199px) {
          left: -15px;
        }
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .vactor_two {
        top: 50%;
        right: -65px;
        transform: translateY(-50%);
        @include mv-media(max, 1199px) {
          right: -15px;
        }
        @include mv-media(max, 767px) {
          display: none;
        }
        img {
          @include mv-media(max, 1199px) {
            width: 100px;
          }
        }
      }
    }
  }
  .bg_main {
    background-color: #efe5df;
    .our_catalogue {
      .title_info {
        align-items: center;
      }
      .tab-menu {
        ul {
          @include mv-media(max, 767px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          li {
            display: inline-block;
            padding-right: 50px;
            @include mv-media(max, 767px) {
              padding-right: 10px;
            }
            a {
              text-decoration: none;
              border-bottom: 2px solid var(--secondary-color);
              font-size: 20px;
              opacity: 0.3;
              font-weight: 500;
              &.active-a {
                opacity: 1;
              }
              @include mv-media(max, 767px) {
                font-size: 17px;
              }
            }
          }
        }
      }
      .tab-box {
        display: none;
        &.tab-active {
          display: block;
        }
  
        .our_catalogue_flex {
          justify-content: space-between;
          margin: 0px -10px;
          @include mv-media(max, 991px) {
            flex-wrap: wrap;
          }
          .our_catalogue_content {
            width: 33.33%;
            padding: 0px 10px;
            .our_catalogue_box {
              position: relative;
              padding: 25px 30px;
              margin-top: 30px;
              background-color: var(--white-color);
              transition: 0.5s ease-in-out;
              @include mv-media(max, 1199px) {
                padding: 15px 15px;
              }
  
              h5 {
                font-size: 22px;
                font-weight: 500;
                span {
                  color: var(--secondary-color);
                }
              }
  
              .our_catalogue_img {
                position: relative;
                .main_img {
                  transition: 0.5s ease-in-out;
                }
                img {
                  margin: 0 auto;
                  transition: 0.5s ease-in-out;
                }
                .hover_img {
                  opacity: 0;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: translate(-50%, -50%);
                  transition: 0.5s ease-in-out;
                }
              }
              .our_catalogue_desc {
                h6 {
                  font-size: 20px;
                }
                .arrow_box {
                  display: flex;
                  justify-content: space-between;
                  span {
                    a {
                      background-color: var(--secondary-color);
                      width: 30px;
                      height: 30px;
                      border-radius: 50px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
                hr {
                  width: 40px;
                  margin-left: 0;
                  border: 1px solid var(--secondary-color);
                }
              }
              &:hover {
                box-shadow: 0 15px 18px -3px rgba(212, 190, 168, 0.36);
                .main_img {
                  opacity: 0;
                  transition: 0.5s ease-in-out;
                }
                .hover_img {
                  opacity: 1;
                  transition: 0.5s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  
    .solutions_diamonds {
      .solutions_diamonds_flex {
        justify-content: space-between;
        @include mv-media(max, 767px) {
          flex-wrap: wrap;
        }
        .solutions_diamonds_left {
          width: 45%;
          position: relative;
          @include mv-media(max, 767px) {
            width: 100%;
          }
          .solution_main_img{
            position: relative;
          }
          .p_s{
            position: absolute;
          }
          .solutions_layer_one{
            top: -15px;
            right: 15px;
          }
          .solutions_layer_two{
            top: 78px;
            left: -10px;
          }
          .solutions_layer_three{
            bottom: -15px;
            left: 50px;
          }
        }
        .solutions_diamonds_right {
          width: 55%;
          padding-left: 60px;
          @include mv-media(max, 991px) {
            padding-left: 30px;
          }
          @include mv-media(max, 767px) {
            width: 100%;
            padding-left: 0px;
            padding-top: 30px;
          }
  
          .faq_section{
            .faq_box{
              border-top: 1px solid rgba(60, 14, 34, 0.50);
              &:last-child{
                border-bottom: 1px solid rgba(60, 14, 34, 0.50);
              }
              .faq_title{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5{
                  color: var(--secondary-color);
                }
                span{
                  i{   
                    color: var(--color_primary);
                    font-size: 24px;
                  }
                }
              }
              .content{
                display: none;
              }
            }
          }
        }
      }
    }
  
    .working_across{
      position: relative;
      overflow: hidden;
      .p_s{
        position: absolute;
      }
      .working_layer_one{
        left: -20px;
        top: 200px;
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .working_layer_two{
        right: 15%;
        top: 40%;
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .working_layer_three{
        right: -20px;
        bottom: 100px;
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .working_layer_four{
        left: -20px;
        bottom: 150px;
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .title_info{
        width: 600px;
        margin: 0 auto;
        text-align: center;
        @include mv-media(max, 767px) {
          width: 100%;
        }
        .title{
          width: 100%; 
          
        }
      }
  
      .working_across_slider{
        width: 550px;
        margin: 0 auto;
        @include mv-media(max, 767px) {
          width: 100%;
        }
        .working_across_slider_content{
          img{
            margin: 0 auto;
          }
        }
      }
    }
  }
  
  .crystallising_main{
    .title_info{
      .title{
        @include mv-media(max, 991px) {
          width: 100%;
        }
      }
    }
    .crystallising_logo{
      
      .logo_slider{
        margin-left: var(--container_left_space);
        padding: 0px 15px;    
        .logo_item{
          width: 240px;
          @include mv-media(max, 767px) {
            width: 240px;
          }
          img{
            margin: 0 auto;
          }
        }
        
      }
    }
    
  }
}


