footer {
  @include lg-down {
    padding: 0px 0px;
  }

  @include sm-down {
    padding: 0px;
  }

  hr {
    margin: 0;
    border-top: 2px solid #565656;
  }

  .footer-links {
    padding: 40px 0 20px;
    border-top: 1px solid rgba(192, 162, 128, 0.5);
    @include mv-media(max, 1199px) {
      flex-wrap: wrap;
      padding: 40px 0 20px;
      justify-content: flex-start;
    }
    @include mv-media(max, 767px) {
      padding: 20px 0 0px;
    }

    .footer_logos {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 60px;
      @include mv-media(max, 767px) {
        flex-wrap: wrap;
        padding-bottom: 40px;
      }
      .logos_img {
        padding: 0px 20px;
        @include mv-media(max, 767px) {
          margin-top: 20px;
        }
        img {
        }
      }
    }

    .page-links {
      // width: 20%;
      @include mv-media(max, 991px) {
        width: 22%;
      }
      @include mv-media(max, 767px) {
        width: 47%;
        margin-bottom: 20px;
      }

      &:first-child {
        @include mv-media(max, 1199px) {
          width: 100%;
          margin-bottom: 30px;
        }
      }

      .inside-links {
        display: flex;

        @include mv-media(max, 1199px) {
          flex-wrap: wrap;
        }

        ul {
          // &:first-child{
          //     @include mv-media(min, 1200px) {
          //         padding-right: 80px;
          //     }
          // }
        }
      }

      .cursor-none {
        pointer-events: none;
      }

      h5 {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .footer_list {
        li {
          margin-bottom: 12px;
          text-decoration: none;

          a {
            color: #413e3e;

            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            transition: all 0.3s;

            &:hover,
            &:focus,
            &:active {
              // color: #fff;
              transition: all 0.3s;
              font-weight: 500;
            }
          }
        }
      }
      &.head_office {
        position: relative;
        padding-right: 40px;
        &::after {
          content: " ";
          height: 100px;
          width: 1px;
          background-color: #c0a280;
          position: absolute;
          right: 0;
          top: 0px;
          opacity: 0.5;
        }
        @include mv-media(max, 767px) {
          padding-right: 0px;
        }
      }
    }

    .footer_flex {
      display: flex;
      justify-content: space-between;
      @include mv-media(max, 1199px) {
        flex-wrap: wrap;
      }
    }
  }

  .footer_links_new {
    // padding-bottom: 0px;
    @include mv-media(max, 991px) {
      flex-direction: column-reverse;
    }
  }

  .footer_inner {
    @extend .f_r_a_center;
    justify-content: space-between;
    padding: 30px 0px;
    border-top: 1px solid rgba(192, 162, 128, 0.5);
    @include mv-media(max, 767px) {
      padding: 30px 15px;
    }

    .copyright_text {
      @include mv-media(max, 767px) {
        padding-bottom: 10px;
      }
    }

    &:after,
    &:before {
      display: none;
    }

    @include sm-down {
      flex-direction: column;
    }
  }
}
