footer {
  @include lg-down {
    padding: 0px 0px;
  }

  @include sm-down {
    padding: 0px;
  }

  hr {
    margin: 0;
    border-top: 2px solid #565656;
  }

  .footer-links {
    display: flex;
    // justify-content: space-between;
    padding: 40px 0 20px;

    @include mv-media(max, 1199px) {
      flex-wrap: wrap;
      padding: 40px 0 20px;
      justify-content: flex-start;
    }
    @include mv-media(max, 767px) {
      padding: 20px 0;
    }

    .page-links {
      width: 25%;
      @include mv-media(max, 767px) {
        width: 50%;
        margin-bottom: 20px;
      }

      // @include mv-media(768px, 1199px) {
      //     width: 33.33%;
      //     padding: 15px 15px 0 0;
      // }

      &:last-child {
        @include mv-media(max, 767px) {
          padding-left: 40px;
        }
      }

      .inside-links {
        display: flex;

        @include mv-media(max, 1199px) {
          flex-wrap: wrap;
        }

        ul {
          // &:first-child{
          //     @include mv-media(min, 1200px) {
          //         padding-right: 80px;
          //     }
          // }
        }
      }

      .cursor-none {
        pointer-events: none;
      }

      h5 {
        color: #1f1f1f;

        font-size: 13px;
        line-height: 20px;
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 300;
        margin-top: 0;

        &:hover,
        &:focus,
        &:active {
          opacity: 1;
          transition: all 0.3s;
        }
      }

      .footer_list {
        li {
          margin-bottom: 8px;
          text-decoration: none;

          a {
            color: var(--color_primary);

            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            transition: all 0.3s;

            &:hover,
            &:focus,
            &:active {
              // color: #fff;
              transition: all 0.3s;
            }
          }
        }
        .career_top {
          margin-top: 40px;
          @include mv-media(max, 767px) {
            margin-top: 30px;
          }
          a {
            &:hover,
            &:focus,
            &:active {
              color: #fff;
            }
          }
        }
      }
    }
    .link_padding {
      padding-left: 40px;
    }
    .footer_flex {
      display: flex;
      width: 75%;
      @include mv-media(max, 991px) {
        width: 100%;
      }
      @include mv-media(max, 767px) {
        flex-wrap: wrap;
      }
      // .page-links {
      //   width: 50%;
      //   @include mv-media(max, 767px) {
      //     padding-right: 10px;
      //   }
      // }
    }

    .footer_flex_right {
      width: 25%;
      // display: inline-flex;
      // align-items: center;
      @include mv-media(max, 991px) {
        width: 100%;
        margin-bottom: 20px;
      }
      // @include mv-media(max, 767px) {
      //   flex-wrap: wrap;
      // }
      .footer_flex_img {
        @include mv-media(max, 767px) {
          margin-bottom: 10px;
        }
      }
      .para-text {
        font-size: 19px;
      }
      .btn_section {
        .btn_project_default {
          padding: 15px 35px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 220px;
          &:hover {
          }
          img {
            padding-right: 5px;
          }
        }
      }
    }
  }

  .footer_links_new {
    // padding-bottom: 0px;
    @include mv-media(max, 991px) {
      flex-direction: column-reverse;
    }
  }

  .social_links {
    @include mv-media(max, 767px) {
      margin: 20px 0px;
    }

    .social {
      @include mv-media(max, 767px) {
        text-align: center;
      }

      li {
        display: inline-block;

        a {
          background-color: #9e9e9e;
          border-radius: 1.875em;
          color: #3d3d3d;
          display: inline-block;
          height: 35px;
          line-height: 35px;
          width: 35px;
          font-size: 18px;
          text-align: center;
          transition: all 0.3s;
          margin-right: 10px;

          @include mv-media(max, 767px) {
            line-height: 2em;
          }

          @include mv-media(768px, 991px) {
            margin-right: 5px;
          }

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
          }

          &:hover,
          &:active {
          }

          svg {
            color: var(--color_primary);
            transition: all 0.3s;

            &:hover,
            &:focus,
            &:active {
              color: var(--color_primary);
            }
          }
        }
      }
    }
  }

  .footer_inner {
    @extend .f_r_a_center;
    justify-content: space-between;
    padding: 20px 15px;

    @include mv-media(max, 767px) {
      padding: 30px 15px;
    }

    &:after,
    &:before {
      display: none;
    }

    @include sm-down {
      flex-direction: column;
    }

    .copyright_text {
      font-size: 14px;
      font-weight: 300;

      opacity: 0.7;
    }

    .made_by_ting_sec {
      .ting-unit-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: scale(0.7);

        @include md-down {
          text-align: center;
          justify-content: center;
        }

        .made-by-text {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          p {
            color: white;
            font-weight: 700;
            font-family: Lato_Black;
            background-color: #e51828;
            margin-bottom: 3px;
            padding: 2px 8px;
            border-radius: 3px;
            letter-spacing: 2px;
            font-size: 11px;
            text-transform: uppercase;
          }
        }

        img {
          display: inline-block;
          vertical-align: middle;
          width: 90px;
          margin-left: 5px;

          &.black-logo {
            filter: invert(1);
          }
        }
      }
    }
  }
}
