// Section: Header
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  // box-shadow: 0 0 14px -10px #333;
  //   margin: 0 auto;
  background-color: #fcf9f8;
  transform: translateY(-100%);
  transition: all 1.5s;
  &.headerAnim {
    transform: translateY(0%);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    height: auto;
    padding: 23px 0;
  }

  .logo_main {
    @media only screen and (min-width: 992px) {
      width: 22%;
    }
  }

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 40px;
    height: auto;
    border: none;
    opacity: 1;
    visibility: visible;
    background-color: unset;
    @media only screen and (min-width: 992px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &-line {
      display: block;
      cursor: pointer;
      width: 100%;
      height: 2px;
      margin: 6px auto;
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
      background-color: #000;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: -19rem;
    width: 90%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: white;
    @media only screen and (min-width: 992px) {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      opacity: 1;
      visibility: visible;
      background: none;
      box-shadow: none;
      width: 78%;
    }

    &.is-active {
      left: 0rem;
      opacity: 1;
      visibility: visible;
    }

    &-block {
      width: 100%;
      height: auto;
      margin: 2rem 0;

      @media only screen and (min-width: 992px) {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-item {
      display: block;
      margin: 0;

      @media only screen and (min-width: 992px) {
        position: relative;
        display: inline-block;
        margin: 0 0.625rem;
      }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 0 0.225rem;
      }
    }

    &-link {
      display: block;
      font-size: 18px;
      line-height: inherit;
      padding: 0.625rem 1.5rem;
      border: none;
      text-rendering: optimizeLegibility;
      transition: all 0.35s ease;
      text-decoration: none;
      color: var(--color_primary);
      font-family: var(--work_sans);
      &:hover {
        font-weight: 500;
      }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 17px;
      }
      @media only screen and (min-width: 992px) {
        padding: 0.5rem 0;
      }
    }
  }

  .account_right {
    li {
      @media only screen and (max-width: 991px) {
        margin-top: 15px;
        padding-left: 20px;
      }
    }
    a {
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 17px;
        padding: 10px 20px;
      }
    }
  }

  .overlay {
    @extend .full_overlay;
    position: fixed;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.35s ease-in-out;

    &.is-active {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  .close_menu_icon {
    display: none !important;
    @media only screen and (max-width: 991px) {
      display: block !important;
      font-size: 30px !important;
      position: absolute;
      right: 0px;
      top: 0px;
      color: var(--color_primary);
    }
  }
}
