@font-face {
  font-family: "Marcellus-Regular";
  src: url("../fonts/Marcellus/Marcellus-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "PetitFormalScript-Regular";
  src: url("../fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf");
  font-style: normal;
}

html {
  min-height: 100%;

  body {
    font-family: var(--work_sans);
    color: var(--color_primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--work_sans);
  letter-spacing: 0;
}

.rem_link_style {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

.f_w_r {
  font-weight: 400;
}

.f_w_m {
  font-weight: 500;
}

.f_w_s {
  font-weight: 600;
}

.f_w_b {
  font-weight: 700;
}

.f_w_black {
  font-weight: 900;
}

.pt_15 {
  padding-top: 15px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.ptb_10 {
  padding: 10px 0;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.ptb_20 {
  padding: 20px 0;
}

.pb_30 {
  padding-bottom: 30px;
}

.ptb_30 {
  padding: 30px 0;
}

.pt_30 {
  padding-top: 30px;
}

.pb_20 {
  padding-bottom: 20px;
}

.ptb_20 {
  padding: 20px 0;
}

.pt_40 {
  padding-top: 40px;
}

.pb_40 {
  padding-bottom: 40px;
}

.ptb_40 {
  padding: 40px 0;
}

.ptb_60 {
  padding: 60px 0;

  @media only screen and (max-width: 767px) {
    padding: 40px 0;
  }
}

.pt_60 {
  padding-top: 60px;

  @media only screen and (max-width: 767px) {
    padding-top: 40px;
  }
}

.pb_60 {
  padding-bottom: 60px;

  @media only screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.ptb_100 {
  padding: 100px 0;

  @media only screen and (max-width: 767px) {
    padding: 60px 0;
  }
}

.pt_100 {
  padding-top: 100px;

  @media only screen and (max-width: 767px) {
    padding-top: 60px;
  }
}

.pb_100 {
  padding-bottom: 100px;

  @media only screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
}

.text_center {
  text-align: center;
}

.text_uppercase {
  text-transform: uppercase;
}

.border_r15 {
  border-radius: 15px;
}

//bootstrap custom css
.hidden {
  display: none !important;
}

.visible-lg {
  display: block;

  @media (max-width: 1199px) {
    display: none !important;
  }
}

.hidden-xs {
  display: block;

  @media (max-width: 767px) {
    display: none !important;
  }
}

.hidden-sm {
  display: block;

  @media (min-width: 767px) and (max-width: 1024px) {
    display: none !important;
  }
}

.hidden-sm-xs {
  display: block;

  @media (max-width: 1024px) {
    display: none !important;
  }
}

.visible-sm-xs {
  display: none;

  @media (max-width: 1024px) {
    display: block !important;
  }
}

.visible-sm {
  display: none;

  @media (min-width: 767px) and (max-width: 1024px) {
    display: block !important;
  }
}

.visible-xs {
  display: block;

  @media (min-width: 767px) {
    display: none !important;
  }
}

.overflow_h {
  overflow: hidden;
}

// scroll out css
.toTop {
  &[data-scroll] {
    transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
  }

  &[data-scroll="out"] {
    opacity: 0;
    transform: translateY(100px);
  }
}

.toBottom {
  &[data-scroll] {
    transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
  }

  &[data-scroll="out"] {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.toLeft {
  &[data-scroll] {
    transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
  }

  &[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.toRight {
  &[data-scroll] {
    transition: all 0.5s ease-out;
  }

  &[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
  }

  &[data-scroll="out"] {
    opacity: 0;
    transform: translateX(100px);
  }
}

.title_info {
  align-items: flex-end;
  @include mv-media(max, 991px) {
    align-items: center;
  }
  @include mv-media(max, 767px) {
    flex-wrap: wrap;
  }
  .title {
    width: 65%;
    @include mv-media(max, 767px) {
      width: 100%;
    }
  }
  .btn_box {
    width: 35%;
    text-align: right;
    @include mv-media(max, 767px) {
      text-align: left;
      width: 100%;
      margin-top: 20px;
    }
  }
}

// slick slider dots css start here
.slick-list {
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
}
.slick-dots {
  li {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    button {
      width: 8px;
      height: 8px;
      &::before {
        content: " ";
        width: 8px;
        height: 8px;
        background-color: var(--secondary-color);
        // border-radius: 50%;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
      }
    }
  }
  li.slick-active button:before {
    opacity: 1;
  }
}

.slide-arrow {
  position: absolute;
  bottom: -10px;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.prev-arrow {
  right: 55px;
}

//progress bar css start here
.progress {
  display: block;
  margin-left: 0;
  // margin-top: 50px;
  width: 90%;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ddcaca;
  background-image: linear-gradient(0deg, #959595 0%, #626262 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
  &.progress_green {
    background-color: #ddcaca;
    background-image: linear-gradient(0deg, #323435 0%, #323435 100%);
  }
  @media only screen and (max-width: 1199px) {
    width: 85%;
  }
  @media only screen and (max-width: 767px) {
    width: 70%;
    display: none;
  }
}
